@charset "utf-8";
/* CSS Document */

<style>

header {background-color:#CCC;}
	ul,ol {
		padding:0px;
		margin:0px;
		list-style-type:none;
		}
	#nav ul li {
		float:right;
		padding:15px;
		front
		}
	
	#nav {height:50px;
	weight:100px;}

	
	article {width:900px;
	height:4000px;
	margin:auto;
	padding:0px;
	display:block; 
	background-image: url("images/bg.gif"); 
	} <!--設定區塊block-->
	
	<!--設定容器大小-->
	.img1 {float:right}
	.img2 {float:left}
	.a {color:#999; font-size:12px;margin:0px 0px 0px 50px; }
	.b {color:black }
	
    	a:link {text-decoration:none;color:#000}
		a:visited{color:#000}
		a:hover{color:#36F} 	
		a:active
		
		a on:hover{color:#F00} 
		<!-- 表示超連結樣式-->
		* margin {90px}
  		img {border:2px  inset #CCC;
		padding:5px 5px 15px 5px;
		margin:0px;
		}	
		
		iframe {padding:0px;
		margin:0px 150px 150px 150px;
			display:block;
			 border:#FFF}
			 </style>